.roadmap-container {
    width: 90%;
    margin: auto;
}

.roadmap-heading {
    font-family: Shojumaru;
    font-size: 44px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--red-color);
    padding-top: 50px;
}

.link-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 50px;
}


@media (max-width:768px) {
    .link-container {
        flex-direction: column;
        justify-content: space-between;
        align-items:center ;
        gap: 30px;
    }
}

